{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
    
    <div class="container">
        
        <title>{% block title %}Registration Form{% endblock %}</title>
    <div class="container">
        {{ form_start(form, {'method': 'post', 'action': path('registrationpage'), 'attr': {'class': 'registrationpage','novalidate': 'novalidate'}}) }}
        <br><br> 
        <div class="row">
            <div class="col-md-2">{{ form_label(form.firstname) }}</div>
            <div class="col-md-2">{{ form_widget(form.firstname) }}</div>
            <div class="col-md-4">{{ form_errors(form.firstname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.lastname) }}</div>
            <div class="col-md-2">{{ form_widget(form.lastname) }}</div>
            <div class="col-md-4">{{ form_errors(form.lastname) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.email) }}</div>
            <div class="col-md-2">{{ form_widget(form.email) }}</div>
            <div class="col-md-4">{{ form_errors(form.email) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.username) }}</div>
            <div class="col-md-2">{{ form_widget(form.username) }}</div>
            <div class="col-md-4">{{ form_errors(form.username) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.mobile) }}</div>
            <div class="col-md-2">{{ form_widget(form.mobile) }}</div>
            <div class="col-md-4">{{ form_errors(form.mobile) }}</div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-2">{{ form_label(form.dateofbirth) }}</div>
            <div class="col-md-2">{{ form_widget(form.dateofbirth) }}</div>
            <div class="col-md-4">{{ form_errors(form.dateofbirth) }}</div>
        </div>  
        <br>
        <div class="row">   
            <div class="col-sm-2">{{ form_label(form.plainPassword) }}</div>
            <div class="col-sm-2">{{ form_widget(form.plainPassword) }}</div>
            <div class="col-sm-4">{{ form_errors(form.plainPassword) }}</div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-offset-2 col-md-2"> <input type="submit" value="Submit" /></div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
