{% block stylesheets %}   
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block content %}       
 <title>{% block title %}User List{% endblock %}</title> 
 <br>     
 <div class="addlisting" style="margin-left:110px;">      
      <button type="button" class="btn btn-primary">     
      <a href="{{ path('registrationpage')}}" style="color:white;">Add User</a>
      </button> 
 </div> 
<div class="container">   
<h2>All Users</h2>    
<div class="row content"> 
  <div class="col-sm-10">   
 <table class="table table-condensed"> 
    <thead> 
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Username</th> 
        <th>Mobilenumber</th>
        <th>DateofBirth</th> 
        <th>Action</th   
      </tr>  
    </thead> 
    <tbody>  
     
    {% for user in users %}   
        <tr> 
            <td>
                <h5>{{user.firstname}}</h5>   
            </td>
            <td>
                <h5>{{user.lastname}}</h5>   
            </td>
            <td>
                <h5>{{user.username}}</h5>   
            </td> 
            <td>
                <h5>{{user.mobile}}</h5>   
            </td> 
            <td> 
                <h5>{{user.dateofbirth|date("Y/m/d H:i:s")}}</h5>   
            </td>  
            
            <td>
                <h5> <a class="btn-link" style="text-decoration: none" href="{{ path('usereditpage', {'id': user.id }) }}">Edit</a> </h5>      
            </td> 
            <td>
                <h5> <a class="btn-link" style="text-decoration: none" href="{{ path('userdeletepage', {'id': user.id }) }}">Delete</a>   </h5>   
            </td> 
        </tr>             
        {% endfor %}
            </tbody> 
    </table> 
    </tbody>      
 </table>       
  </div> 
         
 </div>   
</div>           
  <br> 
 <div class="addlisting" style="margin-left:110px;">      
      <button type="button" class="btn btn-primary">     
      <a href="{{ path('registrationpage')}}" style="color:white;">Add User</a>
      </button> 
 </div>  
{% endblock %}           